
<mat-grid-list  
                cols={{columns.totalColumns}} 
                rowHeight={{columns.height}} 
                gutterSize={{columns.columnPadding}}>
                <mat-grid-tile  [colspan]="columns.leftColumn.cols" 
                                [style.background]="columns.leftColumn.color"></mat-grid-tile>
                <mat-grid-tile  [colspan]="columns.rightColumn.cols" 
                                [style.background]="columns.rightColumn.color"></mat-grid-tile>             
</mat-grid-list>